{% extends 'base/base.html'  %}

{% block title %}home{% endblock title %}

{% block content %}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">ProgramingClub</h1>
        <p class="py-6">a club in ardrey kell to teach the basics of python, javascript, ect. to advanced rest ais,and algorythmes.</p>
        <button class="btn btn-primary">Look at past sessions</button>
      </div>
    </div>
</div>


{% endblock content %}